.root {
    -fx-background-color: #252D36;
    -fx-text-fill: white;
}

.sidebar {
    -fx-background-color: #28323E;
    -fx-padding: 20;
    -fx-alignment: top-center;
}

.logo {
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFA630;
    -fx-font-weight: bold;
}

.sidebar-button,
.sidebar-button-logout {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-cursor: hand;
}

.sidebar-icon{
    -fx-cursor: hand;
}

.welcome-text {
    -fx-text-fill: white;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.sub-welcome {
    -fx-text-fill: gray;
}

.main-container {
    -fx-background-color: #28323E;
    -fx-background-radius: 20;
}

.user-field{
    -fx-background-radius: 7px;
    -fx-background-color: white ;
    -fx-font-size: 16px;
}

.user-button{
    -fx-background-color: black ;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.text{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.form-container {
    -fx-background-color: #28323E;
    -fx-padding: 40px;
    -fx-spacing: 15px;
    -fx-border-radius: 30px;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-min-width: 400px;
    -fx-max-width: 1200px;
    -fx-max-height: 900px;
}

.label-title {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10px 0;
}
.header-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
}

.coin-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.coin-price {
    -fx-font-size: 14px;
}

.coin-entry {
    -fx-background-color: #2c3e50;
    -fx-padding: 15px;
    -fx-border-radius: 50;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 2);
}

.edit-btn, .delete-btn {
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.edit-btn:hover, .delete-btn:hover {
    -fx-background-color: #16a085;
}

/* Estilo das Entradas de Moedas */
.coin-entry {
    -fx-background-color: #252D36;
    -fx-background-radius: 8px;
    -fx-border-color: #fff;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-padding: 12px;
    -fx-transition: background-color 0.3s;
}

.coin-entry:hover {
    -fx-background-color: #1c2a43;
    -fx-border-color: #3f5277;
}

/* Labels para Moedas */
.coin-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #e0e6f0;
}

/* Preços de Moedas */
.coin-price {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #4caf50;
}

/* Separador */
.separator {
    -fx-background-color: #2a3950;
    -fx-opacity: 0.7;
}